.slider .track {
    -fx-background-color: null;  /* Hide the track */
    -fx-background-insets: 1 0 -1 0, 0, 1;
    -fx-background-radius: 2.5, 2.5, 1.5;
    -fx-padding: 0.208333em; /* 2.5 */
}
.table-row-cell:filled:focused:selected {
	-fx-background-color: #B36666;
    /*-fx-text-fill: red;*/
}
.popup {
    -fx-background-color: cornsilk;
    -fx-padding: 10;
    -fx-border-color: black; 
    -fx-border-width: 5;
    -fx-font-size: 16;
}
.button-music-controls:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 8, 0.0, 0, 0);
}
.axis-label {
  -fx-text-fill: #4682b4;
}